body {

    background-color: rgb(233, 86, 111);
}

header {

    background-color: rgb(175, 37, 129);
    font-style: normal;
    text-align: center;
    color: white
}

main {

    background-color: rgb(201, 54, 152);
    font-style: italic;
    text-align: center;
    color: yellow
}

footer {

    background-color: rgb(94, 3, 102);
    color: white;
}