body {

    background-color: rgb(163, 162, 162);
}

header {

    background-color: rgb(110, 110, 110);
    font-style: italic;
    text-align: center;
    color: white;
}

main {

    background-color: rgb(129, 129, 129);
    font-style: italic;
    text-align: center;
    color: white
}

footer {

    background-color: rgb(60, 58, 77);
    color: white;
}